i.icon.icon-lotr {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr.png");
}
i.icon.icon-netrunner {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner.png");
}
i.icon.icon-agot {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-agot.png");
}
i.icon.icon-coc {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-coc.png");
}
i.icon.icon-sw {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-sw.png");
}
i.icon.icon-whi {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-whi.png");
}
i.icon.icon-wh40k {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-wh40k.png");
}
i.icon.icon-netrunner-what-lies-ahead {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-what-lies-ahead.png");
}
i.icon.icon-netrunner-trace-amount {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-trace-amount.png");
}
i.icon.icon-netrunner-cyber-exodus {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-cyber-exodus.png");
}
i.icon.icon-netrunner-a-study-in-static {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-a-study-in-static.png");
}
i.icon.icon-netrunner-humanitys-shadow {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-humanitys-shadow.png");
}
i.icon.icon-netrunner-future-proof {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-future-proof.png");
}
i.icon.icon-netrunner-creation-and-control {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-creation-and-control.png");
}
i.icon.icon-netrunner-opening-moves {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-opening-moves.png");
}
i.icon.icon-netrunner-second-thoughts {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-second-thoughts.png");
}
i.icon.icon-netrunner-mala-tempora {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-mala-tempora.png");
}
i.icon.icon-netrunner-true-colors {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-true-colors.png");
}
i.icon.icon-netrunner-fear-and-loathing {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-fear-and-loathing.png");
}
i.icon.icon-netrunner-double-time {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-double-time.png");
}
i.icon.icon-netrunner-honor-and-profit {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-honor-and-profit.png");
}
i.icon.icon-netrunner-upstalk {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-upstalk.png");
}
i.icon.icon-netrunner-the-spaces-between {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-the-spaces-between.png");
}
i.icon.icon-netrunner-first-contact {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-first-contact.png");
}
i.icon.icon-netrunner-up-and-over {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-up-and-over.png");
}
i.icon.icon-netrunner-all-that-remains {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-all-that-remains.png");
}
i.icon.icon-netrunner-the-source {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-the-source.png");
}
i.icon.icon-netrunner-order-and-chaos {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-order-and-chaos.png");
}
i.icon.icon-netrunner-the-valley {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-the-valley.png");
}
i.icon.icon-netrunner-breaker-bay {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-breaker-bay.png");
}
i.icon.icon-netrunner-chrome-city {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-chrome-city.png");
}
i.icon.icon-netrunner-the-underway {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-netrunner-the-underway.png");
}

i.icon.icon-lotr-the-hunt-for-gollum {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-hunt-for-gollum.png");
}
i.icon.icon-lotr-conflict-at-the-carrock {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-conflict-at-the-carrock.png");
}
i.icon.icon-lotr-a-journey-to-rhosgobel {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-a-journey-to-rhosgobel.png");
}
i.icon.icon-lotr-the-hills-of-emyn-muil {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-hills-of-emyn-muil.png");
}
i.icon.icon-lotr-the-dead-marshes {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-dead-marshes.png");
}
i.icon.icon-lotr-return-to-mirkwood {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-return-to-mirkwood.png");
}
i.icon.icon-lotr-khazad-dum {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-khazad-dum.png");
}
i.icon.icon-lotr-the-readhorn-gate {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-readhorn-gate.png");
}
i.icon.icon-lotr-road-to-rivendell {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-road-to-rivendell.png");
}
i.icon.icon-lotr-the-watcher-in-the-water {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-watcher-in-the-water.png");
}
i.icon.icon-lotr-the-long-dark {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-long-dark.png");
}
i.icon.icon-lotr-foundations-of-stone {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-foundations-of-stone.png");
}
i.icon.icon-lotr-shadow-and-flame {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-shadow-and-flame.png");
}
i.icon.icon-lotr-heirs-of-numenor {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-heirs-of-numenor.png");
}
i.icon.icon-lotr-the-stewards-fear {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-stewards-fear.png");
}
i.icon.icon-lotr-the-druadan-forest {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-druadan-forest.png");
}
i.icon.icon-lotr-encounter-at-amon-din {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-encounter-at-amon-din.png");
}
i.icon.icon-lotr-assault-on-osgiliath {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-assault-on-osgiliath.png");
}
i.icon.icon-lotr-the-blood-of-gondor {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-blood-of-gondor.png");
}
i.icon.icon-lotr-the-morgul-vale {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-morgul-vale.png");
}
i.icon.icon-lotr-the-voice-of-isengard {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-voice-of-isengard.png");
}
i.icon.icon-lotr-the-dunland-trap {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-dunland-trap.png");
}
i.icon.icon-lotr-the-three-trials {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-three-trials.png");
}
i.icon.icon-lotr-trouble-in-tharbad {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-trouble-in-tharbad.png");
}
i.icon.icon-lotr-the-nin-in-eilph {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-nin-in-eilph.png");
}
i.icon.icon-lotr-celebrimbors-secret {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-celebrimbors-secret.png");
}
i.icon.icon-lotr-the-antlered-crown {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-antlered-crown.png");
}
i.icon.icon-lotr-the-lost-realm {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-lost-realm.png");
}
i.icon.icon-lotr-the-wastes-of-eriador {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-wastes-of-eriador.png");
}
i.icon.icon-lotr-escape-from-mount-gram {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-escape-from-mount-gram.png");
}
i.icon.icon-lotr-over-hill-and-under-hill {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-over-hill-and-under-hill.png");
}
i.icon.icon-lotr-on-the-doorstep {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-on-the-doorstep.png");
}
i.icon.icon-lotr-the-black-riders {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-black-riders.png");
}
i.icon.icon-lotr-the-road-darkens {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-road-darkens.png");
}
i.icon.icon-lotr-the-treason-of-saruman {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-lotr-the-treason-of-saruman.png");
}
i.icon.icon-coc-secrets-of-arkham {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-coc-secrets-of-arkham.png");
}
i.icon.icon-coc-the-order-of-the-silver-twilight {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-coc-the-order-of-the-silver-twilight.png");
}
i.icon.icon-coc-seekers-of-knowledge {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-coc-seekers-of-knowledge.png");
}
i.icon.icon-coc-the-key-and-the-gate {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-coc-the-key-and-the-gate.png");
}
i.icon.icon-coc-terror-in-venice {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-coc-terror-in-venice.png");
}
i.icon.icon-coc-denizens-of-the-underworld {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-coc-denizens-of-the-underworld.png");
}
i.icon.icon-coc-the-sleeper-below {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-coc-the-sleeper-below.png");
}
i.icon.icon-coc-for-the-greater-good {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-coc-for-the-greater-good.png");
}
i.icon.icon-coc-the-thousand-young {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-coc-the-thousand-young.png");
}
i.icon.icon-whi-assault-on-ulthuan {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-whi-assault-on-ulthuan.png");
}
i.icon.icon-whi-march-of-the-damned {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-whi-march-of-the-damned.png");
}
i.icon.icon-whi-legends {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-whi-legends.png");
}
i.icon.icon-whi-cataclysm {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-whi-cataclysm.png");
}
i.icon.icon-whi-hidden-kingdoms {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-whi-hidden-kingdoms.png");
}
i.icon.icon-wh40k-the-howl-of-blackmane {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-wh40k-the-howl-of-blackmane.png");
}
i.icon.icon-wh40k-the-scourge {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-wh40k-the-scourge.png");
}
i.icon.icon-wh40k-gift-of-the-ethereals {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-wh40k-gift-of-the-ethereals.png");
}
i.icon.icon-wh40k-zogworts-curse {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-wh40k-zogworts-curse.png");
}
i.icon.icon-wh40k-the-threat-beyond {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-wh40k-the-threat-beyond.png");
}
i.icon.icon-wh40k-descendants-of-isha {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-wh40k-descendants-of-isha.png");
}
i.icon.icon-wh40k-the-great-devourer {
  width: 29px;
  height: 29px;
  background-image: url("../img/i-wh40k-the-great-devourer.png");
}
